.hero_section {
  background: #052b4a;



  /*=============== slider ===================*/
  .slider_section {
    display: flex;
    justify-content: space-between;

    .slider_left {

      h2 {
        padding-top: 15px;
        margin-bottom: 30px;
        color: #EEF1F6;
        font-family: Inter;
        font-weight: 600;
        font-size: 36px;

        strong {
          color: #FEBA30;
        }

        span {
          color: #FFEAC2;
        }

      }

      h3 {
        margin-bottom: 30px;
        display: flex;
        gap: 10px;
        align-items: center;
        color: #FFFFFF;
        font-family: Inter;
        font-weight: 400;
        font-size: 28px;
        line-height: 1;

        span {
          width: 36px;
          height: 36px;
          padding: 3.375px 7.425px 4.184px 7.2px;
          border-radius: 6.75px;
          border: 1.125px solid rgba(234, 237, 247, 0.8);
        }
      }

      ul {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
        padding-bottom: 15px;

        li {
          /* min-width: 312px; */
          display: flex;
          gap: 8px;
          border-radius: 50px;
          background: #1e405c;
          padding: 15px 20px 15px 15px;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            gap: 10px;
            border-radius: 30px;
            background: rgba(4, 34, 59, 0.5);
          }

          .order_details {
            strong {
              display: block;
              color: #eef1f6;
              font-family: Inter;
              font-weight: 600;
              font-size: 16px;
              line-height: 1;


            }

            span {
              display: block;
              font-family: Inter;
              font-weight: 400;
              font-size: 14px;
              margin-top: 5px;
              color: #eef1f6;

            }
          }
        }
      }

    }

    .slider_img {
      width: 454px;
      border: 15px solid #FFFFFF;
      border-radius: 6px;
      position: relative;
      top: 12px;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}



/*=============== responsive css============ */
/* tablet css */
@media screen and (max-width:1200px) {
  .hero_section {
    .slider_section {
      align-items: end;
      .slider_left {
        ul {
          gap: 5px;
          li {
            padding: 15px 9px;
            i{
              width: 20px;
              height: 20px;
            }
            .order_details {
              strong {
                font-size: 14px;
              }

              span {
                font-size: 12px;

              }
             
            }
          }
        }
         h2{
                font-size: 30px;
              }
      }

      .slider_img {
        width: 287px;
      }
    }
  }
}
/* mobile css */
@media screen and (max-width: 767px) {
    .hero_section {
        & .slider_section {
          flex-direction: column;
            align-items: start;
            padding: 0 15px;
            padding-bottom: 10px;
            & .slider_left {
            width: 100%;
              ul{
                flex-direction: column;
                gap: 10px;
              }
              li{
                width: 100%;
              }
                h2 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                h3{
                  font-size: 18px;
                  margin-bottom: 10px;
                }
            }
            .slider_img{
              width: 100%;
              position: unset;
            }
        }
    }
    
}