footer {

  .footer_cover {
    align-self: stretch;
    padding-top: 40px;
    border-top: 1px solid rgba(148, 162, 180, 0.2);
    background: #e5e7e9;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.02);

    .top_footer {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .footer_left {
        width: 65%;

        .footer_data {
          display: flex;
          gap: 20px;

          .company_detail {
            display: flex;
            align-items: center;
            gap: 10px;

            strong {
              font-size: 20px;
              font-family: Inter;
              font-weight: 700;
              color: #052B4A;
            }
          }
        }
      }

      .footer_right {
        width: 35%;
        display: flex;
        align-items: end;
        gap: 20px;
        .footer_content{
          a{
            font-size: 13px;
            font-weight: 400;
            font-family: Inter;

          }
        }
        
      }





      img {
        display: flex;
        gap: 20px;
      }

      p {
        color: #3d4c5e;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
      }

      a {
        display: block;
        color: #3d4c5e;

        svg {
          margin-right: 10px;
        }
      }

      h4 {
        margin-bottom: 10px;
        color: #011935;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}


/* bottom footer start here */

.bottom_footer {
  background: #052b4a;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.02);

  .bookmark {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .carrer {
      color: #FEBA30;
    }

    h4 {
      color: #eef1f6;
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;

      li {
        a {
          color: #eef1f6;
          font-size: 13px;
          font-weight: 400;
          line-height: 1;
        }
      }
    }
  }
}

/*============= responsive css============ */
/* tablet css */
@media screen and (max-width:1200px) {
footer {
    & .footer_cover {
        & .top_footer {
          p{
            font-size: 12px;
          }
          gap:5px;
          .footer_left{
            width: 55%;
          }
            & .footer_right {
              width: 45%;
              gap:10px;
                & .footer_content {
                    a {
                        font-size: 11px;
                        font-weight: 400;
                        font-family: Inter;
                    }
                }
            }
        }
    }
}
}

/* mobile css  */
@media screen and (max-width: 767px) {
    footer {
        & .footer_cover {
            & .top_footer {
              flex-direction: column;
              .footer_left{
                width: 100%;
              }
              .footer_right{
                width: 100%;
                justify-content: space-between;
              }
            }
        }
        .bottom_footer{
          .bookmark{
            gap:5px;
            h4{
              font-size: 13px;
            }
          }
        }
    }
}